body{
    
    margin: auto;
}
#body-container {
    border:1px solid;
    background-color:rgb(61,42,242);
    height:50rem; 
     display: flex;
     padding-left: 40%;
     align-items: center;
    width:100%;

}

.logo{
    align-items: center;
    border: none;
    outline:none;
    background-color:white;
    height:9rem ;
    display: flex;
    width:10rem;
    flex-direction: column;
      

}
.logo>img{
    
    mix-blend-mode: multiply;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;

}
.logo>span{
    font-size: 5rem;
    color:white;
  
 
    text-align: center;
}