.badge {
  border-radius: 3rem;
  padding: 5px 0.8rem;
  color: white;
  background-color: green;
  font-size: 10px;
  font-weight: bolder;
}

.badge-c-white {
  color: white;
}

.badge-b-white {
  background-color: white;
}

.badge-c-white {
  color: white;
}

.badge-b-white {
  background-color: white;
}

.badge-c-white {
  color: white;
}

.badge-b-white {
  background-color: white;
}

.badge-c-white {
  color: white;
}

.badge-b-white {
  background-color: white;
}

.badge-c-red {
  color: red;
}

.badge-b-red {
  background-color: red;
}

.badge-c-blue {
  color: blue;
}

.badge-b-blue {
  background-color: blue;
}

.badge-c-green {
  color: green;
}

.badge-b-green {
  background-color: green;
}

.badge-c-yellow {
  color: yellow;
}

.badge-b-yellow {
  background-color: yellow;
}

.badge-c-black {
  color: black;
}

.badge-b-black {
  background-color: black;
}

.badge-c-purple {
  color: purple;
}

.badge-b-black {
  background-color: purple;
}

.badge-c-peru {
  color: peru;
}

.badge-b-peru {
  background-color: peru;
}

.badge-c-powderblue {
  color: powderblue;
}

.badge-b-powderblue {
  background-color: powderblue;
}

.badge-c-yellowgreen {
  color: yellowgreen;
}

.badge-b-yellowgreen {
  background-color: yellowgreen;
}

.badge-c-aqua {
  color: aqua;
}

.badge-b-aqua {
  background-color: aqua;
}

.badge-c-blueviolet {
  color: blueviolet;
}

.badge-b-blueviolet {
  background-color: blueviolet;
}

.badge-c-crimson {
  color: crimson;
}

.badge-b-crimson {
  background-color: crimson;
}

.badge-c-brown {
  color: brown;
}

.badge-b-brown {
  background-color: brown;
}

.badge-c-chocolate {
  color: chocolate;
}

.badge-b-chocolate {
  background-color: chocolate;
}

.badge-c-cyan {
  color: cyan;
}

.badge-b-cyan {
  background-color: cyan;
}

.badge-c-darkred {
  color: darkred;
}

.badge-b-darkred {
  background-color: darkred;
}

.badge-c-darkred {
  color: darkblue;
}

.badge-b-darkred {
  background-color: darkred;
}

.badge-c-darkgreen {
  color: darkgreen;
}

.badge-b-darkgreen {
  background-color: darkgreen;
}

.badge-c-firebrick {
  color: firebrick;
}

.badge-b-firebrick {
  background-color: firebrick;
}

.badge-c-forestgreen {
  color: forestgreen;
}

.badge-b-forestgreen {
  background-color: forestgreen;
}
