@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nunito:wght@400&display=swap");
body {
  background-color: rgb(110, 106, 106);
  font-family: "Nunito", sans-serif;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 25px;
  background: white;
  width: 20rem;
}
p {
  font-family: "Nanum Myeongjo", serif;
  text-align: left;
}
.h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  text-align: left;
}
.h2 {
  font-size: medium;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: left;
}
