

#right_panel {
    position: absolute;
    width: 96px;
    padding-left: 4px;
    height: 100%;
    right: 0;
    background-color: #f0f0f0;
}


#resize {
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: w-resize;}

    #resize-r {
        background-color: #ccc;
        position: absolute;
        right: 0;
        width: 4px;
        height: 100%;
        cursor: w-resize;}