li{
    list-style-type: none;
}
button{
    border: 1px solid white;
    border-radius: 2em 0em 2em 0em;;
    background-color: #ed4d09;
    color:whitesmoke

}
button:hover{
    background-color: rgb(34, 204, 12);
    color: white;

}


li:nth-child(even) {
    background-color:whitesmoke;
    color:chocolate;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li:nth-child(odd) {
    background-color:rgb(50, 78, 41);
    color:white;
}