
.textInputWrapper {
   display: flex;
    width: 180px;
    margin: 10px 5px;
   
  
  }
  
 
  
  
  .textInputWrapper:focus-within:before {
    border-bottom: 2px solid;
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 5px solid whitesmoke;
  }
  

 
  
 
 
  
  .textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgb(81, 73, 73);
  }
  
  .textInputWrapper .textInput {
    border-radius: 5px 5px 0px 0px;
    border-radius: 3em;
    max-height: 36px;
    background-color: rgb(232, 237, 240);
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border: none;
  }
  .textInputWrapper .textInput:hover{
 

  }
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    outline: none;
    box-shadow:inset 0px 2px px 2px gray; 
  }
  
  .textInputWrapper:focus-within .textInput,
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    background-color: #fff;
  }
  
  .textInputWrapper:focus-within .textInput::placeholder {
    opacity: -1;
  }
  
  button {
    width: 9em;
    height: 2em;

    border-radius: 6px;
    font-size: 15px;
    font-family: inherit;
    border:none;
    outline: none;
    align-self: center;
    overflow: hidden;
    padding: 5px;
    background-color: rgb(113,162,189,1);
  
    /* box-shadow: 0px 2px 5px 2px rgb(140, 138, 138);  */
                 
   }
   
   
   
   button:hover{
    
    border-radius: 7px;
    background-color: white !important;
    /* box-shadow: 0px 2px 5px 2px gray !important;;  */
    
   }




div.textInputWrapper {
    display: flex;
    padding: 10px;
    
    justify-content:space-evenly;
    width:95%;
 

    border-radius: 5px;
    background-color:rgb(16, 68, 97,1)
    /* box-shadow: 6px 2px 8px 8px rgb(236, 233, 233),  
                    -6px -6px 12px rgb(250, 248, 248); */
  
   
    
}


 


.taskList {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

li{
    list-style-type: none;
    text-transform: uppercase;

}




li:nth-child(even) {
    color:rgb(86, 80, 80) !important;
    background-color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li:nth-child(odd) {
    background-color:whitesmoke;
    color: black !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.taskList:hover {
    background-color: #1717173b;
}

.dragging {
    background: #d32121 !important;
    color: white !important;
}

.target {
    border: 3px dashed red !important;
}

