.card-flex {
    border: 1px solid black;
    display: block;
    height: 25rem;
    width: 20rem;
    display: flex;
    align-items: center;
   flex-direction: column;
}
.card-block {
    border: 1px solid black;
    display: block;
    height: 30rem;
    width: 20rem;
  
}

.card-head {
    height: 12.5rem;
  
    color: white;
    padding: 0.02rem;
}
.card-head-cl{
    background-color: #333;

}

.card-round {
    border-radius: 1rem;
}

.card-bottom {
 
    height: 15.5rem;
    padding: 1rem;
}
.card-bottom-cl{
    background-color: red;
}

.card-logo {
    display: flex;
    margin-top: 1rem;
   
    border: 1px solid whitesmoke;
    width: 3rem;
    height: 4rem;
    display: flex;
}
.icon-logo {
 justify-content: center;
 align-items: center;

}
.card-title {
    text-transform: uppercase;

}
.card-content {
    overflow-wrap:break-word;
    width: 15rem;
    line-height: 22px;
    height: 10rem;
 

}
.readmore-btn {
    border-radius: 3rem;
    width: 10rem;
    margin-top: 1rem;
    border: 1px solid #ffff;
    display: flex;
    justify-content: center;
    color: #fff;
}
.background-btn {
    background-color: black;
}