#form{
    box-sizing: border-box;
    position: relative;
    width:430px;
    height:1200px;
    border-radius: 40px;
    background-color:whitesmoke;
  

}
.form-background {
    background-color:whitesmoke;
}

.logo{
 
    width:210px; 
    height:210px;
    border-radius:50% ;
    margin: 0 auto;


}
.title{
    text-align:center;
    font-size:15px;  
    font-family: 'lato'sans-serif;
    justify-content:center;
    padding-top:10px;
    letter-spacing: 3px;
} 
.title-color-green {
    color:green;
}
.title-color-blue {
    color:blue;
}
.subtitle {
    text-align:center;
    font-size:15px;  
    font-family: sans-serif;
    justify-content:center;
    padding-top:10px;
    letter-spacing: 3px;

}
.subtitle-color {
    color:#555;
}
#field{
margin-left:35px;
width:70%;
padding: 75px 5px 5px 5px;
border: 1px solid green;
}
#field>input{
    border:none ;
    outline:none;
    background: none;
    font: size 18px;
  
    padding:20px 10px 20px 5px;

}
.input-color{
    color:#555;
}
.surname,.middlename,.lastname,.address,.password,.mail,.number{
    margin-bottom: 30px;
    border-radius: 50px;
   
}
.inset-input-shadow{
    box-shadow:inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffffff;
}
.input-shadow{
    box-shadow: 8px 8px 8px #cbced1,
                -8px -8px 8px #ffffffff;
}
.submit-btn{
    outline: none;
    border: none;
    cursor: pointer;
    width: 300px;
    height:60px;
    margin-bottom: 30px;
    border-radius: 30px;
    font-size:20px;
    font-weight:700;
    font-family:;
   
    text-align: center;
  

  
}
.submit-background-color{
    background-color:#24cfaa;
}
.submit-text-color {
    color: #ffff;
}

.radio{
    margin-bottom: 30px;
    border-radius: 5px;
  
    box-shadow:inset 8px 8px 8px #cbced1,
               inset -8px -8px 8px #ffffffff;
}
.radio-text-color{
    color:#555;
}
.dropdown-menu{
    margin-bottom: 30px;
    border: 1px solid black;
  
}
option{
    color:red
}
select:hover{
    background-color:#555;
  
}
label{
    font-size: 15px;;
}
select{
    color:brown
}
.label-color{
    background-color: #555;
}
button{
        outline: none;
        border: none;
        cursor: pointer;
        width: ;
        height:;
        margin-bottom: 30px;
        border-radius: 30px;
        font-size:20px;
        font-weight:700;
        font-family:;
       
        text-align: center;