.flex {
    display: flex;
}

.flex-c-center {
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    justify-content: center;
}

.flex-col-center {
    flex-direction: column;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}