.block{
    display: block;
}
.flex {
    display: flex;
}

.flex-c-center {
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    justify-content: center;
}

.flex-col-center {
    flex-direction: column;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}
.flex-direction{
    flex-direction: column;
}
.flex-direction-col-reverse {
    flex-direction: column-reverse;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse;

}
.position-relative {   
    position: relative;
}
.position-static { 
    position: static;
}
.position-sticky { 
    position: sticky;
}
.position-fixed { 
    position: fixed;
   
}
.display-block { 
    display: block;
}
.border{
    border: 1px solid black ;
}
