.m-1 {
    margin: 0.5rem;
}

.my-1 {
    margin: 0.5rem 0rem;
}

.mx-1 {
    margin: 0rem 0.5rem;
}

.p-1 {
    padding: 0.5rem;
}

.py-1 {
    padding: 0.5rem 0rem;
}

.px-1 {
    padding: 0rem 0.5rem;
}

.w-half {
    width: 50%;
}

.w-full {
    width: 100%;
}