.text.align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
.text-decoration-dashed{
    text-decoration:dashed;
}
.text-decoration-overline{
    text-decoration:overline;
}
.text-decoration-line-through{
    text-decoration:line-through;
}
.text-decoration-dotted{
    text-decoration:dotted;
}
.text-decoration-none{
    text-decoration:none;
}
.text-decoration-double{
    text-decoration:double;
}
.text-decoration-solid{
    text-decoration:solid;
}
.text-decoration-wavy{
    text-decoration: wavy;
}
.text-decoration-underline{
    text-decoration:underline;
    
}
.text-uppercase{
   text-transform: uppercase;
}

