body{
    height: auto;
    width: auto;
}
.box{
    width: auto;
   
   
 
}
.bgyellow{
    
    display: flex;
    background-color: #ffd741;
    height: 20em;
    border: none;
    padding: 1em;
    padding-bottom:10em;
  
    
}
.leftbox{
    margin-left: 5em;
    display: flex;
    height: auto;
    width: fit-content;
    flex-direction: column;
   
   
}
.logo{
 
    height: 5em;
    width: 5em;
   
   
}
.words{
    margin-top: 3em;
 
}
.home{
    display: flex;
    width: 40em;
    height: fit-content;
    margin-left: 5em;
    justify-content: space-between;
    align-items: center;
}
.img{
    border: 1px solid whitesmoke;
    margin-top: 5em;
    width: 15em;
    height: 15em;
 
}
img{
    width: 15em;
    object-fit:fill;
    mix-blend-mode:screen;
 

}
.bgwhite{
    
    background-color: #ffff;
    height: 30em;
    border: none;

}
#heading{
    display: flex;
justify-content: center;

}
#flexbox{
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    display: flex;
   
    height: 75%;
  
}
#flexrow{
    justify-content: space-evenly;
   
    display: flex;
  
    height: 10em;
    width: 100%;
}
#flexrow>div{
    align-content: center;
    height: 10em;
    width: 10em;
    border: 1px solid #ccc;
}
.bglightgrey{
    display: flex;
    background-color: #efefef;
    height: 30em;
    border: none;
}
#container{
    position: relative;
    margin: 5em;
   
    width: 30em;
    height: 80%;

}
#container>h1{
    margin: 0px;
    color:#ffd741
}
#container>p{
    margin: 0px;
    color:rgba(0, 0, 0, 0.885);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
}
#container>p+p {
  font-family:cursive;
  

}
button{
   border: none;
    height: 3rem;
    width: 13rem;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    background-color: #ffd741;
   
    
}
#image-box{
    margin: 5em;

    width: 30em;
    height: 80%;


}
.lightblack{
    display: flex;
    background-color: #010a1b;
    height: 30em;
    border: none;
}
.bgwhite1{
    background-color: #ffff;
    height: 35em;
    border: none
}
.bgblack{
    background-color: #000000;
    height: 30em;
    border: none
}
.bggrey{
    background-color: #333333;
    height: 10em;
    border: none
}
p{
    color:whitesmoke;
    font-family:cursive;
    font-weight: bold;
}