.flex-container {
    display: flex;
   border-bottom: 2px solid red;
  width: 100%;
justify-content: space-between;

}
.left-nav{
display: flex;

}
.middle-nav{
    display:flex;
    width: 50%;
   
    justify-content: space-around;
}
.right-nav{
    display: flex;
    justify-content: space-between;
    width: 10%;
   
}